body{font-family:Segoe UI,Helvetica,Arial, sans-serif}
.card-title{font-size:1.05rem}
.fw-medium{font-weight:600}
.table-striped>tbody>tr.table-secondary>td{background:#f8f9fa}

.leave-cell {
    background-color: #f8d7da !important;
    color: #842029 !important;
    text-align: center;
    vertical-align: middle;
}

